certifi==2022.12.7
chardet==3.0.4
colorama==0.4.1
coloredlogs==10.0
humanfriendly==4.18
idna==2.8
pyreadline==2.1
python-pushover==0.4
PyYAML==6.0
requests==2.21.0
schedule==0.6.0
slack-sdk==3.19.5
soupsieve==1.8
urllib3==1.24.3
setuptools==65.5.1
